body {
  background-color: rgb(30, 30, 30);
}
body header {
  display: flex;
  justify-content: center;
  height: 180px;
  align-items: center;
}
body header a img {
  height: 100px;
  width: 100px;
}
body #news-header {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}
body #news-header h1 {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}
body #news-header #line {
  height: 8px;
  width: 100%;
  background-color: rgb(48, 48, 52);
  border-radius: 8px;
}
body #upcoming-games-wrapper {
  background-color: rgb(36, 36, 36);
  width: 80%;
  margin: auto;
  padding: 20px 10px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
}
body #upcoming-games-wrapper #news-header-2 {
  width: 94%;
  margin: auto;
}
body #upcoming-games-wrapper #news-header-2 h1 {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}
body #upcoming-games-wrapper #news-header-2 #line {
  height: 8px;
  width: 30%;
  background-color: rgb(48, 48, 52);
  border-radius: 8px;
}
body #upcoming-games-wrapper #upcoming-items-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
body #upcoming-games-wrapper #upcoming-items-wrapper .upcoming-games-item {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  background-color: rgb(60, 60, 60);
  border-radius: 8px;
  margin-bottom: 20px;
  width: 250px;
  height: 450px;
  margin: 20px;
  padding: 10px;
}
body #upcoming-games-wrapper #upcoming-items-wrapper .upcoming-games-item h1 {
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-weight: bold;
  margin: 10px;
}
body #upcoming-games-wrapper #upcoming-items-wrapper .upcoming-games-item .img-wrapper img {
  height: 350px;
}
body #upcoming-games-wrapper #upcoming-items-wrapper .upcoming-games-item .release-date {
  background-color: white;
  border-radius: 15px;
  height: 40px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #upcoming-games-wrapper #upcoming-items-wrapper .upcoming-games-item .release-date .date {
  font-size: large;
}
body #upcoming-games-wrapper #upcoming-items-wrapper .upcoming-games-item .release-date .date h2 {
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}/*# sourceMappingURL=news.css.map */