body {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
body b {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body header {
  position: relative;
  background-color: rgb(30, 30, 30);
  height: 9vh;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 70px;
}
body header #ListIcon {
  height: 30px;
  cursor: pointer;
  display: none;
}
body header b {
  color: white;
  font-weight: bold;
}
body header #L-D-Frame {
  display: flex;
  align-items: center;
  width: 10%;
  justify-content: space-evenly;
}
body header #L-D-Frame #main_logo_a #main_logo {
  max-height: 60px;
}
body header #L-D-Frame #line {
  background-color: rgb(48, 48, 52);
  height: 50px;
  width: 4px;
  border-radius: 2px;
}
body header #items {
  width: 60%;
  display: flex;
  justify-content: space-around;
}
body header #items .item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 40px;
  width: 110px;
  border-radius: 8px;
  transition: background-color 0.5s, color 0.5s;
}
body header #items .item a {
  color: white;
  width: 90px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header #items .item:hover {
  background-color: white;
  color: black;
  border-radius: 8px;
}
body header #items .item:hover a {
  color: black;
}
body header #search input {
  padding: 15px;
  width: 300px;
  border-radius: 50px;
  background-color: rgb(32, 32, 32);
  border: 0px;
  color: white;
  letter-spacing: 1px;
}
body header #search input:focus {
  background-color: rgb(40, 40, 40);
  outline: 0px;
}
body header #SearchIcon_mobile {
  display: none;
}
body header #L-P-Frame {
  display: flex;
  flex-direction: row;
  width: 12%;
  justify-content: space-evenly;
  align-items: center;
}
body header #L-P-Frame #LanguageIcon {
  height: 25px;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
}
body header #L-P-Frame #LanguageIcon:hover {
  padding: 5px;
  background-color: rgb(100, 100, 100);
  border-radius: 50%;
  transition: 0.5s;
}
body header #L-P-Frame #ProfileIcon {
  height: 25px;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
}
body header #L-P-Frame #ProfileIcon:hover {
  background-color: rgb(100, 100, 100);
  transition: 0.5s;
  border-radius: 50%;
  padding: 5px;
}
body header #L-P-Frame #SearchIcon_mobile_frame #searchMobile {
  display: none;
  transition: 0.3s;
}
body header #L-P-Frame #SearchIcon_mobile_frame #SearchIcon {
  cursor: pointer;
}
body #divsThatDoesNotShowUntilClick {
  display: inline-block;
  position: relative;
  width: 100%;
}
body #divsThatDoesNotShowUntilClick #ChangeLanguage {
  background-color: rgb(26, 26, 30);
  border-radius: 15px;
  width: 200px;
  height: 120px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px 20px;
  right: 0px;
  top: 0px;
  position: absolute;
  display: none;
  transition: 0.3s;
  z-index: 1000;
}
body #divsThatDoesNotShowUntilClick #ChangeLanguage #Georgian {
  background-color: rgb(36, 36, 36);
  padding: 10px;
  border-radius: 15px;
  width: 180px;
  margin-bottom: 20px;
  cursor: pointer;
}
body #divsThatDoesNotShowUntilClick #ChangeLanguage #Georgian:hover {
  background-color: rgb(50, 50, 50);
}
body #divsThatDoesNotShowUntilClick #ChangeLanguage #English {
  width: 180px;
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(36, 36, 36);
  cursor: pointer;
}
body #divsThatDoesNotShowUntilClick #ChangeLanguage #English:hover {
  background-color: rgb(50, 50, 50);
}
body #divsThatDoesNotShowUntilClick #ChangeLanguage div b {
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body #divsThatDoesNotShowUntilClick #profile {
  background-color: rgb(26, 26, 30);
  border-radius: 15px;
  width: 200px;
  height: 120px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px 20px;
  right: 0px;
  top: 0px;
  position: absolute;
  display: none;
  transition: 0.3s;
  z-index: 1000;
}
body #divsThatDoesNotShowUntilClick #profile #Registration {
  background-color: rgb(36, 36, 36);
  padding: 10px;
  border-radius: 15px;
  width: 180px;
  margin-bottom: 20px;
  color: white;
}
body #divsThatDoesNotShowUntilClick #profile #Registration #reg-link {
  position: sticky;
  z-index: 9;
}
body #divsThatDoesNotShowUntilClick #profile #Registration:hover {
  background-color: rgb(50, 50, 50);
}
body #divsThatDoesNotShowUntilClick #profile #Log-in {
  width: 180px;
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(36, 36, 36);
  color: white;
}
body #divsThatDoesNotShowUntilClick #profile #Log-in #log-link {
  position: relative;
  z-index: 9;
}
body #divsThatDoesNotShowUntilClick #profile #Log-in:hover {
  background-color: rgb(50, 50, 50);
}
body #divsThatDoesNotShowUntilClick #profile div b {
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body #divsThatDoesNotShowUntilClick #menu {
  position: absolute;
  background-color: rgb(26, 26, 30);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  color: white;
  width: 400px;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10px;
  display: none;
  transition: 0.3s;
  z-index: 1000;
}
body #divsThatDoesNotShowUntilClick #menu .menu_div {
  margin: 20px;
  background-color: rgb(36, 36, 36);
  border-radius: 15px;
}
body #divsThatDoesNotShowUntilClick #menu .menu_div b {
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body #divsThatDoesNotShowUntilClick #menu .menu_div b a {
  color: white;
  width: 95%;
  padding: 20px 0px 20px 15px;
}
body #divsThatDoesNotShowUntilClick #menu .menu_div:hover {
  background-color: rgb(50, 50, 50);
}
body #divsThatDoesNotShowUntilClick #menu .autorisation-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}
body #divsThatDoesNotShowUntilClick #menu .autorisation-div .mob-reg-divs {
  display: flex;
  text-align: center;
  background-color: rgb(36, 36, 36);
  width: 40%;
  border-radius: 15px;
}
body #divsThatDoesNotShowUntilClick #menu .autorisation-div .mob-reg-divs a {
  padding: 20px 0px 20px 0px;
  width: 100%;
  color: white;
  font-weight: bold;
}
body #divsThatDoesNotShowUntilClick #menu .autorisation-div .mob-reg-divs:hover {
  background-color: white;
}
body #divsThatDoesNotShowUntilClick #menu .autorisation-div .mob-reg-divs:hover a {
  color: black;
}
body #divsThatDoesNotShowUntilClick #menu .ChangeLanguage-mobile {
  height: 60px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
body #divsThatDoesNotShowUntilClick #menu .ChangeLanguage-mobile #GE {
  display: flex;
  background-color: rgb(36, 36, 36);
  border-radius: 15px;
  width: 45%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body #divsThatDoesNotShowUntilClick #menu .ChangeLanguage-mobile #GE a b {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}
body #divsThatDoesNotShowUntilClick #menu .ChangeLanguage-mobile #GE:hover {
  background-color: white;
}
body #divsThatDoesNotShowUntilClick #menu .ChangeLanguage-mobile #GE:hover a b {
  color: black;
}
body #divsThatDoesNotShowUntilClick #menu .ChangeLanguage-mobile #EN {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 36, 36);
  border-radius: 15px;
  width: 45%;
  cursor: pointer;
}
body #divsThatDoesNotShowUntilClick #menu .ChangeLanguage-mobile #EN a b {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}
body #divsThatDoesNotShowUntilClick #menu .ChangeLanguage-mobile #EN:hover {
  background-color: white;
}
body #divsThatDoesNotShowUntilClick #menu .ChangeLanguage-mobile #EN:hover a b {
  color: black;
}
body main {
  width: 100%;
  background-color: rgb(22, 22, 22);
}
body main .slider {
  width: 1300px;
  max-width: 100%;
  height: 700px;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}
body main .slider .list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: -moz-max-content;
  width: max-content;
  transition: 1s;
}
body main .slider .list img {
  width: 1300px;
  max-width: 100vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .slider .buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
body main .slider .buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3333333333);
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}
body main .slider .dots {
  position: absolute;
  bottom: 10px;
  color: #fff;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
body main .slider .dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 20px;
  border-radius: 20px;
  transition: 1s;
}
body main .slider .dots .active {
  width: 30px;
}
body main .best-of-2024 {
  display: flex;
  justify-content: center;
  min-height: 500px;
  background-color: rgb(12, 12, 12);
  position: relative;
  width: 100%;
}
body main .best-of-2024 #best-of-2024-header {
  display: flex;
  flex-direction: column;
  top: 30px;
  left: 30px;
  position: absolute;
  z-index: 1000;
}
body main .best-of-2024 #best-of-2024-header h1 {
  margin-bottom: 10px;
}
body main .best-of-2024 #best-of-2024-header h1 b {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 25px;
}
body main .best-of-2024 #best-of-2024-header #vertical-line {
  width: 180px;
  height: 5px;
  border-radius: 5px;
  background-color: rgb(48, 48, 52);
}
body main .best-of-2024 .container {
  background-color: rgb(30, 30, 30);
  padding: 30px;
  max-width: 1600px;
  width: 85%;
  margin-top: 100px;
  margin-bottom: 30px;
}
body main .best-of-2024 .slider-wrapper {
  position: relative;
}
body main .best-of-2024 .slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  display: flex;
  cursor: pointer;
  font-size: 1em;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
  background-color: rgb(50, 50, 50);
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}
body main .best-of-2024 .slider-wrapper .slide-button button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3333333333);
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}
body main .best-of-2024 .slider-wrapper .slide-button:hover {
  background-color: rgb(100, 100, 100);
}
body main .best-of-2024 .slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}
body main .best-of-2024 .slider-wrapper .slide-button#next-slide {
  right: -25px;
}
body main .best-of-2024 .slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}
body main .best-of-2024 .slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}
body main .best-of-2024 .slider-wrapper .image-list .image-item {
  width: 325px;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .best-of-2024 .container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
body main .best-of-2024 .slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}
body main .best-of-2024 .slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}
body main .best-of-2024 .slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}
body main .best-of-2024 .slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
body main .best-of-2024 .slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
body footer {
  height: 300px;
  width: 100%;
  background-color: rgb(30, 30, 30);
}
body footer #logo {
  display: flex;
  justify-content: center;
}
body footer #logo img {
  height: 100px;
  width: 100px;
  margin-top: 20px;
  cursor: pointer;
}
body footer #footer-wrapper {
  display: flex;
  justify-content: space-around;
}
body footer #footer-wrapper .footer-div {
  width: 30%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
body footer #footer-wrapper .footer-div #links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}
body footer #footer-wrapper .footer-div #links a {
  width: 50px;
}
body footer #footer-wrapper .footer-div #links a .footer-imgs {
  height: 50px;
}
body footer h2 {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

@media (max-width: 1024px) {
  body header {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  body header #ListIcon {
    display: flex;
    margin-left: 3%;
  }
  body header #L-P-Frame {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    justify-content: space-around;
    width: 35%;
    margin-right: 3%;
  }
  body header #L-P-Frame #LanguageIcon {
    display: none;
  }
  body header #L-P-Frame #ProfileIcon {
    display: none;
  }
  body header #L-P-Frame #SearchIcon_mobile_frame {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  body header #L-P-Frame #SearchIcon_mobile_frame #searchMobile {
    padding: 15px;
    border-radius: 50px;
    background-color: rgb(32, 32, 32);
    width: 100%;
    border: 0px;
    color: white;
    letter-spacing: 1px;
    display: none;
  }
  body header #L-P-Frame #SearchIcon_mobile_frame #SearchIcon_mobile {
    cursor: pointer;
  }
  body header #L-P-Frame img {
    margin: 5px;
  }
  body header #L-D-Frame {
    width: 128px;
    justify-content: center;
  }
  body header #L-D-Frame #main_logo_a #main_logo {
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
  }
  body header #L-D-Frame #line {
    display: none;
  }
  body header #SearchIcon_mobile {
    align-items: center;
    display: flex;
    height: 30px;
    margin-right: 3%;
  }
  body header #items {
    display: none;
  }
  body header #search {
    display: none;
  }
}
@media (max-width: 580px) {
  .slider {
    height: 400px;
    margin-top: 20px;
    max-width: 100%;
  }
}
@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }
  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }
  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }
  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}/*# sourceMappingURL=style.css.map */